.home {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: start;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  margin: 0;
}

.home__spacer {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home__title {
  color: beige;
  margin: 10px 0 24px;
}
.home__image {
  height: 264px;
  max-width: 264px;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
