.modal {
  width: 100%;
}

.modal__menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__menu_open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.modal__list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.modal__link {
  display: block;
  padding: 12px 18px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
  text-decoration: none;
}

.modal__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
